@model CBBusService.Models.Driver

@{
    ViewData["Title"] = "Add New Driver";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Driver</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HomePhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HomePhone" class="form-control" />
                <span asp-validation-for="HomePhone" class="text-danger"></span>
            </div>
        </div>    
        <div class="form-group">
            <label asp-for="WorkPhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WorkPhone" class="form-control" />
                <span asp-validation-for="WorkPhone" class="text-danger"></span>
        </div>
        </div>
        <div class="form-group">
            <label asp-for="Street" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PostalCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProvinceCode" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ProvinceCode" class="form-control"/>
                <span asp-validation-for="ProvinceCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateHired" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateHired" class="form-control" />
                <span asp-validation-for="DateHired" class="text-danger"></span>
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
